<section class="w-full flex flex-wrap justify-center items-center mb-10">
  <a
    href="https://yurinka.itch.io/rawal-rumble"
    target="_blank"
    class="w-[400px] h-[280px] flex justify-center items-center m-5 overflow-hidden rounded-lg max-sm:w-full max-sm:h-auto max-sm:max-h-[300px]"
  >
    <img
      src="/images/games/rawal-rumble.avif"
      alt="rawal rumble"
      class="w-full h-full hover:scale-110 transition-all duration-[.2s] ease-linear"
    />
  </a>
</section>
