<section
  class="flex w-full justify-center items-center mt-56 mb-28 space-x-20 max-lg:flex-col max-lg:space-x-0 max-lg:space-y-20 max-lg:mt-52 max-sm:mt-44"
>
  <img src="/logo.gif" class="w-[250px] rounded-full" />
  <article class="flex flex-col space-y-5 max-lg:items-center">
    <span
      class="w-[180px] bg-[#202225] text-white h-[45px] rounded-md flex justify-center items-center font-normal text-[18px]"
    >
      Artista Pixelart
    </span>
    <h1 class="text-[64px] font-medium max-lg:text-center">Elias Lozano</h1>
  </article>
</section>
